/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* основной фон  #2f303a */
/* первичный фон секции #e5e5e5 */
/* вторичный фон секции #f5f4fa */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc: #ffffff;
  --primary-section-bgc: #f5f4fa;
  --hero-footer-bgc: #2f303a;
  --primary-white: #ffffff;
  --primary-icon-color: #afb1b8;

  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Common styles */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  font-family: inherit;
  text-decoration: none;
  color: currentColor;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  background-color: var(--primary-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.48;

  color: var(--secondary-text-color);
  text-decoration: none;

  margin-right: 93px;
}
.logo .web-color {
  color: var(--accent-color);
}

.site-nav,
.contacts {
  display: flex;
  align-items: center;
}

.header-container .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--secondary-text-color);
  transition: color 250ms var(--time-function);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.link.current::after {
  content: " ";
  position: absolute;
  opacity: 1;
  display: block;
  cursor: pointer;

  bottom: 0;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  background-size: auto;
  border-radius: 2px;
}

.contacts .link {
  display: flex;
  align-items: center;
  /* padding-top: 32px;
  padding-bottom: 32px; */

  transition: color 250ms var(--time-function);
}

.icon.phone,
.icon.envelope {
  fill: currentColor;
  margin-right: 10px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.header .contacts {
  margin-left: auto;
}
.phone-num {
  margin-left: 50px;
}

/* Hero */

.hero {
  padding: 200px 0px;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--hero-footer-bgc);
  color: var(--primary-white);

  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  max-width: 696px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 00.06em;
}
.btn {
  background-color: var(--accent-color);
  color: var(--primary-white);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  max-width: 202px;
  padding: 10px 32px;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

/* Features */

.features-section {
  padding-bottom: 0px;
}

/* .features,
.portfolio {
    
} */
.feature-list {
  display: flex;
}
.feature-list-item {
  display: flex;
  flex-direction: column;

  flex-basis: calc((100% - 2 * 30px) / 2);
}
.feature-list-item:not(:last-child) {
  margin-right: 30px;
}

.feature-list-item .svg {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;

  margin-bottom: 30px;
  background-color: var(--primary-section-bgc);
}

.feature-list .title {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-description {
  margin-top: 10px;
}

/* Work */

.section .section-title {
  color: var(--secondary-text-color);

  font-size: 32px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
}
.work-list-item {
  position: relative;
}
.work-list-item:not(:last-child) {
  margin-right: 30px;
}

.description {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 27px 0;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white);

  background-color: rgba(47, 48, 58, 0.8);
}

/* Team */
.team {
  background-color: var(--primary-section-bgc);
}
.member-list {
  display: flex;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-card:not(:last-child) {
  margin-right: 30px;
}

.member-description {
  background-color: var(--primary-white);
  padding: 30px 0;
}

.member-list .title {
  color: var(--secondary-text-color);

  font-size: 16px;
  font-weight: 500;

  margin-bottom: 10px;
}
.social-links {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
.team-member-card .link {
  display: flex;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  justify-content: center;

  align-items: center;
  fill: var(--primary-icon-color);

  transition: background-color 250ms var(--time-function),
    fill 250ms var(--time-function);
}
.social-nav:not(:last-child) {
  margin-right: 10px;
}

/* .social-nav {
  
} */
.team-member-card .link:hover,
.team-member-card .link:focus {
  background-color: var(--accent-color);

  fill: var(--primary-white);
}

/* Our Clients */

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  fill: var(--primary-icon-color);

  transition: border-color 250ms var(--time-function),
    fill 250ms var(--time-function);
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-list .company-link:hover,
.clients-list .company-link:focus {
  fill: var(--accent-color);

  border-color: var(--accent-color);
}
/* Footer */

.footer {
  padding: 60px 0;

  background-color: var(--hero-footer-bgc);
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer .logo,
.footer .direction {
  color: var(--primary-white);
}

.footer a[href^="mail"],
.footer a[href^="tel"] {
  color: rgba(255, 255, 255, 0.6);
}

.address li:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
}
.address > .contacts {
  flex-direction: column;
  align-items: flex-start;
}

.right-part {
  margin-left: 70px;
}

.footer .title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white);
}

.right-part .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.right-part .link {
  display: flex;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  justify-content: center;
  align-items: center;

  fill: var(--primary-white);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--time-function),
    fill 250ms var(--time-function);
}

.right-part .link:hover,
.right-part .link:focus {
  background-color: var(--accent-color);
}

.subscribe-form {
  padding-top: 12px;
  margin-left: auto;
}
.subscribe-wrapper {
  display: flex;
  align-items: center;
}

.email-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  background-color: inherit;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px 10px 29px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-btn span {
  margin-right: 10px;
}

/* Portfolio */

/* .portfolio-section {
  
} */

/* Filter */
.filter {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
}

.nav-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  padding: 6px 22px;

  border-radius: 4px;
  border: none;

  background-color: var(--primary-section-bgc);

  color: var(--secondary-text-color);
  cursor: pointer;

  transition: background-color 250ms var(--time-function),
    color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter .nav-button:hover,
.filter .nav-button:focus,
.filter .nav-button:active {
  background-color: var(--accent-color);

  color: var(--primary-white);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects */

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: calc((100% - 60px) / 3);

  margin-right: 30px;
  margin-bottom: 30px;
}
.project-card:nth-child(3n) {
  margin-right: 0;
}
.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-list .link {
  display: block;
  position: relative;

  transition: box-shadow 250ms var(--time-function);
}

.project-list .link:hover,
.project-list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-description {
  padding: 20px 24px;

  background-color: var(--primary-white);

  border: 1px solid #eeeeee;
  border-top: none;
}
.link .title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.link .type {
  font-size: 16px;
  line-height: 1.87;
}

.project-image {
  position: relative;
  overflow: hidden;
}
.project-description {
  position: absolute;
  top: 100%;
  left: 0;

  padding: 63px 24px;
  /* text-align: center; */
  width: 100%;
  height: 100%;

  background-color: var(--accent-color);

  margin: 0;

  color: var(--primary-white);

  font-size: 18px;
  line-height: 1.56;

  transition: top 250ms var(--time-function);
}
.project-card .link:hover .project-description,
.project-card .link:focus .project-description {
  top: 0;
}

/* Modal window */

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;

  transition: opacity 750ms var(--time-function),
    visibility 750ms var(--time-function);
}

.backdrop .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  padding: 40px;

  background-color: var(--primary-white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop .close-btn {
  display: flex;
  align-items: center;
  align-content: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;

  cursor: pointer;

  background-color: var(--primary-white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.modal-header {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.order-form-item {
  margin-bottom: 10px;
}

.order-form-item:last-of-type {
  margin-bottom: 20px;
}

.order-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.order-input-wrapper {
  position: relative;
}

.order-input {
  width: 100%;
  padding: 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: outline 250ms var(--time-function),
    border-color 250ms var(--time-function);
}

.order-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: var(--secondary-text-color);
}

.order-input:focus,
.order-message:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.order-input:focus + .order-svg {
  fill: var(--accent-color);

  transition: fill 250ms var(--time-function);
}

.order-message {
  width: 100%;
  max-height: 120px;
  padding: 12px 16px;
  resize: none;

  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: outline 250ms var(--time-function),
    border-color 250ms var(--time-function);
}

.policy-text {
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.policy-link {
  color: var(--accent-color);
}

.order-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  vertical-align: middle;

  border: 1px solid var(--secondary-text-color);
  border-radius: 2px;
}

.order-checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/checked.svg);
  background-size: contain;
  background-origin: border-box;
}

.order-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
